@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body { font-family: 'Roboto', sans-serif; }

.animatescreen {
    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;

    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.game {
    display: flex;
    align-items: center;
}

/* .afteranimate {
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
    animation-name: animatetop;
    animation-duration: 1s
} */

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0px; opacity:1 }
}

/* @-webkit-keyframes animatetop {
    from { bottom:0px; opacity:0 } 
    to { bottom:200px; opacity:1 }
}

@keyframes animatetop { 
    from{ bottom:0px; opacity:0 } 
    to{ bottom:200px; opacity:1 }
} */